<div class="divider2"></div>
    
        <div class="post">
          <h4>Consequat Odio Vestibulum</h4>
          <div class="contentarea">
            <div class="details">Posted by <a href="#">Jane Doe</a> on September 25, 2006</div> 
            <%= image_tag("pic3.jpg", class: "left") %>
            <p>Aenean felis quisque eros. Cras lobortis commodo lorem ipsum dolor. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Lorem ipsum dolor sit amet consequat etiam sed dolore.</p>
            <ul class="controls">
              <li><a href="#" class="printerfriendly">Printer Friendly</a></li>
              <li><a href="#" class="comments">Comments (18)</a></li>
              <li><a href="#" class="more">Read More</a></li>       
            </ul>
          </div>
        </div>