<div id="footer">
      <div class="left">&copy; 2006 Your Website Name. All rights reserved.</div>
      <div class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
  </div>