<div id="header">
    <div id="headercontent">
      <h1>Zenlike<sup>1.0</sup></h1>
      <h2>A free design by NodeThirtyThree</h2>
    </div>
  </div>


  <form method="post" action="">
    <div id="search">
      <input type="text" class="text" maxlength="64" name="keywords" />
      <input type="submit" class="submit" value="Search" />
    </div>
  </form>