<div class="box">
        <h4>Blandit Veroeros</h4>
        <div class="contentarea">
          <%= image_tag("pic2.jpg", class: "left") %>
          <p>Sed etiam et lorem ipsum nulla vero et lobortis felis sed etiam. Lorem ipsum sit amet dolore. Nulla facilisi. Sed tortor. Aenean felis. Quisque eros etiam <a href="#">sed commodo</a>.</p>
        </div>
      </div>
    
      <div>
        <h4>Nullam Dolore</h4>
        <div class="contentarea">
          <ul class="linklist">
            <li><a href="#">Volutpat at varius sed</a></li>
            <li><a href="#">Sollicitudin et arcu</a></li>
            <li><a href="#">Vivamus viverra nullam</a></li>
            <li><a href="#">Turpis vestibulum</a></li>
            <li><a href="#">Sed etiam lorem ipsum</a></li>
            <li><a href="#">Sit amet dolore nulla</a></li>
            <li><a href="#">Facilisi sed tortor</a></li>
            <li><a href="#">Aenean felis quisque</a></li>
            <li><a href="#">Eros cras lobortis vel</a></li>
            <li><a href="#">Purus in eget odio sapien</a></li>
            <li><a href="#">Adipiscing blandit</a></li>
          </ul>
        </div>
      </div>